body {
  font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
  max-width: 760px;
  margin: 0 auto;
}

.banner {
  text-align: center;
  padding: 1rem;
  background-color: #eee;
}

h1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}
main section {
  padding: 2rem;
}
main h2 {
  grid-column: 1 / -1;
  text-align: center;
}

h2 {
  color: navy;
  /* text-align: start; */
}
h3 {
  text-align: center;
}
article p {
  text-align: justify;
}

main .callout {
  grid-column: 1 / -1;
  padding: 1rem;
  color: #d2c1b6;
  background-color: #1b3c53;
}

footer {
  margin-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-size: smaller;
  text-align: start;
}
