:root {
  --primary-color: #1b3c53;
  --secondary-color: #d2c1b6;
  --accent-color: #f2a900;
  --text-color: #333;
  --background-color: #f4f4f4;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --card-bg: rgba(255, 255, 255, 0.9);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

/* HEADER */
header {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  padding: 1.5rem;
}

/* --- main --- */
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Hero Imagen */
.hero {
  width: 100%;
}
.hero img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* (Data y Weather) */
.data-section,
.weather-section {
  background-color: #fff;
  width: 90%;
  max-width: 450px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px var(--shadow-color);
}

.data-section h2,
.weather-section h2 {
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.data-list {
  padding: 1.5rem;
}
.data-list ul {
  list-style: none;
}
.data-list li {
  margin-bottom: 0.8rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.5rem;
}

/* Icon SVG */
.weather-icon-svg {
  width: 35px;
  height: 35px;
  vertical-align: middle;
}

/* Footer */
footer {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}
footer #lastModified {
  color: var(--accent-color);
  margin-top: 0.5rem;
  display: block;
}

/* --- Desktop (Media Query) --- */
@media (min-width: 850px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    position: relative;
  }

  .hero {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    z-index: -1;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .hero img {
    height: 600px;
    object-fit: cover;
  }

  /* Overlay */
  .data-section,
  .weather-section {
    background-color: var(--card-bg);
    z-index: 1;
    margin: 3rem;
    width: auto;
    max-width: none;
  }

  .data-section {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .weather-section {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  /* Hidde SVG and use Pseudo-elemento */
  .weather-icon-svg {
    display: none;
  }

  /* Pseudo-elemento magic */
  .weather-section h2::after {
    content: " ⛅";
    font-size: 1.5rem;
    margin-left: 10px;
  }
}
